# logging settings
log_level=INFO
log_file=./logs/rag.log
log_format="%(asctime)s - %(name)s - %(levelname)s - %(message)s"

# SQLite
sqlite_db_path="./data/rag.db"

# Qdrant
qdrant_path="./data/qdrant.db"
qdrant_url="http://localhost:6333"
qdrant_collection="chunks"

# Tavily
tavily_url="https://api.tavily.com/search"
tavily_token="Your Tavily API token"

# data source
data_dir="./data/md/"

# openai api
openai_embed_url="https://api.siliconflow.cn/v1"
openai_embed_api="Your embed api"
openai_embed="BAAI/bge-large-zh-v1.5"
openai_chat_url="https://api.minimaxi.com/v1"
openai_chat_api="Your chat api"
openai_chat="MiniMax-M2.5"
openai_rerank="maidalun1020/bce-reranker-base_v1"
